* {
	margin: 0;
	padding: 0;
	line-height: 120%;
}

html,
body {
	max-width: 100vw;
	background-color: var(--accent);
	position: relative;
}

@font-face {
	font-family: "Muller";
	src:
	url("./fonts/FontfabricMullerRegular.otf") format("opentype"),
		url("./fonts/MullerTrialRegular.woff2") format("woff2"),
		url("./fonts/MullerTrialRegular.woff") format("woff"),
		url("./fonts/MullerTrialRegular.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "Muller Bold";
	src:
		url("./fonts/FontfabricMullerBold.otf") format("opentype"),
		url("./fonts/MullerTrialBold.woff2") format("woff2"),
		url("./fonts/MullerTrialBold.woff") format("woff"),
		url("./fonts/MullerTrialBlack.ttf") format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "TT Tsars B";
	src: url("./fonts/TTTsarsBRegular.ttf") format("truetype");
	font-weight: normal;
}

/* variables */

:root {
	--secondary-color: rgba(0, 0, 0, 0.8);
	--secondary-inv: rgba(255, 255, 255, 0.8);
	--primary-color: #000;
	--primary-inv: #ffffff;
	--globe-color: #f8f8f8;
	--tetriary-color: rgba(0, 0, 0, 0.6);
	--tetriary-inv: rgba(255, 255, 255, 0.6);
	--accent: #3a8c80;
	--h1: 8.738vw;
	--h2: 6.796vw;
	--h3: 5.825vw;
	--h4: 4.854vw;
	--text: 3.883vw;
	--navigation: 3.398vw;
}

/* header */

header {
	position: sticky;
	display: flex;
	flex-direction: row;
	padding: 1.316vh 5.825vw 1.316vh 5.825vw;
	justify-content: space-between;
	width: auto;
	align-items: center;
	z-index: 1;
	top: 0;
	background-color: var(--globe-color);
}

/* header::after {
	position: absolute;
	left: 0;
	background-color: var(--primary-color);
	width: 100vw;
	height: 9.135vh;
	overflow-y: visible;
	background-image: url("./assets/header-background.svg");
	background-size: contain;
	background-color: var(--globe-color);
	content: "";
	z-index: -1;
} */


.unselectable {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.container {
	width: fit-content;
	display: flex;
	height: fit-content;
}

.row {
	flex-direction: row;
}

.center {
	align-items: center;
	justify-content: center;
}

.branding {
	gap: 3.883vw;
}

.logos {
	display: flex;
	flex-direction: row;
	gap: 2.913vw;
	flex-wrap: nowrap;
}

.logo {
	height: fit-content;
	display: flex;
}

.logo img:first-child {
	width: 8.981vw;
}

.logo img:last-child {
	width: 8.252vw;
}

.name {
	flex-direction: column;
	text-wrap: nowrap;
	height: 100%;
	box-sizing: border-box;
	font-size: var(--navigation);
	font-family: "Muller Bold";
	line-height: 120%;
	text-transform: uppercase;
}

.menu {
	width: 3.883vw;
	padding: 2.913vw;
}

menu button img {
	opacity: 0.6;
}

/* banner */

.banner {
	width: 100vw;
	height: fit-content;
	color: var(--primary-inv);
}

.banner img {
	height: auto;
	width: 100vw;
	border-radius: 0 0 12.136vw 12.136vw;
}

.banner-text {
	left: calc(4.854vw - 100vw);
	top: 14.831vh;
	position: relative;
	flex-direction: column;
}

.banner-text h1 {
	font-family: "TT Tsars B";
	text-wrap: nowrap;
	font-size: var(--h1);
	width: fit-content;
	line-height: 120%;
}

.banner-text h2 {
	padding-top: 0.872vh;
	line-height: 120%;
	font-family: "Muller";
	text-wrap: nowrap;
	font-size: var(--text);
	width: fit-content;
}

.pages-list {
	position: relative;
	width: 100%;
}

.background {
	background-color: var(--globe-color);
	border-radius: 0 0 12.136vw 12.136vw;
	width: 100%;
	flex-direction: column;
}

.header {
	flex-direction: column;
	gap: 5.825vw;
}

.header h1 {
	text-transform: uppercase;
	font-family: "TT Tsars B";
	font-size: var(--h2);
	color: var(--primary-color);
	line-height: 120%;
}

.header>span {
	font-family: "Muller";
	color: var(--secondary-color);
	font-size: var(--text);
	line-height: 120%;
}

.block {
	margin: 5.234vh 5.825vw 0 5.825vw;
	flex-direction: column;
}

.content {
	margin-top: 4.362vh;
	gap: 5.825vw;
}

.item {
	text-transform: uppercase;
	flex-direction: column;
	text-decoration: none;
	width: 41.262vw;
	gap: 1.745vh;
	font-family: "Muller Bold";
	font-size: var(--h4);
	line-height: 120%;
	color: var(--secondary-color);
}

.item img {
	border-radius: 6.068vw;
}

.single {
	width: calc(100vw - 5.234vh);
}

.afisha .header {
	gap: 1.309vh;
}

.afisha {
	padding: 2.617vh 3.883vw 2.617vh 3.883vw;
	width: calc(100vw - (5.825vw * 2) - (3.883vw * 2));
	margin-bottom: 5.234vh;
}

.afisha h1 {
	font-family: "Muller Bold";
	color: var(--secondary-color);
}

.afisha a {
	font-size: var(--text);
	color: var(--primary-inv);
	text-transform: uppercase;
	background-color: var(--accent);
	border-radius: 6.068vw;
	padding: 1.309vh 0 1.309vh 0;
	text-align: center;
	margin-top: 5.234vh;
	text-decoration: none;
}

footer {
	margin: 5.234vh 4.854vw 5.234vh 4.854vw;
	display: grid;
	grid-template-columns: 1fr 5.825vw 1fr;
	grid-template-rows: fit-content 1fr 2fr 2fr 0.545vh 2fr;
	row-gap: 2.726vh;
}

footer .branding {
	grid-row: 1;
	grid-column: span 3;
}

footer .name {
	font-size: 3.883vw;
	color: var(--primary-inv);
}

.contacts {
	grid-area: contacts;
	flex-direction: column;
	gap: 2.617vh;
	grid-row: 2;
	grid-column: 1;
}

.contacts span {
	font-size: var(--navigation);
	text-transform: uppercase;
	color: var(--secondary-inv);
	font-family: "Muller";
}

.contacts div {
	flex-direction: column;
	display: flex;
}

.contacts a {
	text-decoration: none;
	font-size: var(--navigation);
	color: var(--tetriary-inv);
	font-family: "Muller";
}

.links {
	flex-direction: column;
	grid-row: 3;
	grid-column: 1;
	gap: 3.053vh;
}

.linked {
	gap: 0.436vh;
	flex-direction: column;
}

.linked a {
	height: fit-content;
	align-items: center;
	gap: 1.942vw;
	text-decoration: none;
	font-size: var(--navigation);
	font-family: "Muller";
	color: var(--secondary-inv);
}

.linked a svg {
	width: 4.369vw;
	fill: var(--accent);
	background-color: var(--primary-inv);
	border-radius: 100%;
	padding: 0.728vw;
	height: auto;
}

footer .linked a:last-child svg {
	width: 3.277vw;
	padding: 1.274vw;
}

.navigation {
	font-family: "Muller";
	grid-column: 3;
	grid-row: span 2;
	font-size: var(--navigation);
	flex-direction: column;
	gap: 2.617vh;
}

.navigation span {
	text-transform: uppercase;
	color: var(--secondary-inv);
}

.navigation div {
	flex-direction: column;
	gap: 0.872vh;
}

.navigation a {
	text-decoration: none;
	color: var(--tetriary-inv);
}

.madeby {
	flex-direction: column;
	gap: 0.872vh;
	row-gap: 4;
	grid-row: 5;
	grid-column: span 3;
	font-family: "Muller";
	font-size: var(--navigation);
}

.madeby span {
	color: var(--secondary-inv);
}

.madeby a {
	color: var(--tetriary-inv);
	text-decoration: none;
}

#menu-mob {
	position: fixed;
	overflow-x: hidden;
	flex-direction: column;
	align-items: center;
	z-index: 2;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--globe-color);
}

.hdr {
	padding: 1.316vh 5.825vw 1.316vh 5.825vw;
	width: calc(100% - 5.825vw * 2);
	justify-content: space-between;
}

.hdr .menu {
	height: 1.745vh;
}

.dialog {
	width: calc(100% - 5.825vw * 2);
	height: 100%;
	margin: 0.545vh 5.825vw 13.959vh 5.825vw;
	font-family: "Muller";
	display: flex;
	flex-direction: column;
}

details {
	display: flex;
	flex-direction: column;
	font-size: var(--text);
	height: auto;
}

.dialog summary {
	padding-bottom: 1.309vh;
	padding-top: 2.617vh;
	display: flex;
	justify-content: space-between;
	color: var(--primary-color);
}

.dialog details a {
	padding-bottom: 1.309vh;
	padding-top: 1.309vh;
	text-decoration: none;
	color: var(--secondary-color);
}

.dialog details a:last-child {
	margin-bottom: 2.617vh;
}

summary::marker {
	content: ""
}

.dialog hr {
	width: 100vw;
	transform: translateX(-5.825vw);
}

.dialog .links {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: auto
}

.dialog span, dialog a {
	font-size: var(--text);
	width: 100%;
}

.dialog .urls {
	flex-direction: column;
	width: 100%;
	color: var(--tetriary-color);
}

.dialog .urls a {
	padding: 1.478vh 0;
	font-size: var(--text);
	color: var(--tetriary-color);
	text-decoration: none;
}

.dialog .linked {
	gap: 2.617vh;
	width: 100%;
}

.dialog .linked a {
	gap: 1.092vw;
	width: 100%;
}

.dialog .linked svg {
	fill: var(--globe-color);
	background-color: var(--accent);
	width: 5.097vw;
	height: auto;
	padding: 0.85vw;
}

.dialog .linked svg:last-child{
	width: 3.883vw;
	padding: 1.488vw;
}

.dialog .linked span {
	color: var(--accent);
}

@media screen and (orientation: landscape) {
	:root {
		--h1: 4.688vw;
		--h2: 2.813vw;
		--h3: 2.188vw;
		--h4: 0.971vw;
		--text: 1.25vw;
		--navigation: 1.094vw;
	}

	header {
		width: auto;
		padding: 2.163vh 2.5vw;
	}

	.branding {
		gap: 1.875vw;
	}

	.logos {
		gap: 1.25vw;
	}

	.logo img:first-child {
		width: 3.984vw;
	}

	.logo img:last-child {
		width: 3.75vw;
	}

	.name {
		font-size: 1.25vw;
	}

	.menu {
		display: none;
	}

	menu {
		font-family: Muller;
		font-size: 1.683vh;
		gap: 1.875vw;
		flex-direction: row;
		flex-wrap: nowrap;
		text-transform: uppercase;
		display: flex;
		justify-items: center;
		align-items: center;
	}

	.pages {
		display: flex;
	}

	menu a {
		color: var(--tetriary-color);
		text-decoration: none;
		height: 1.923vh;
	}

	menu button {
		font-size: 1.683vh;
		font-family: Muller;
		color: var(--tetriary-color);
		text-decoration: none;
		height: fit-content;
		text-transform: uppercase;
		background-color: transparent;
		border: none;
		color: none;
		display: flex;
		align-items: center;
	}

	menu button img {
		height: 0.601vh;
		margin: 1.322vh;
		opacity: 0.6;
	}

	menu .vk {
		display: flex;
		height: 2.5vw;
		background-color: var(--accent);
		width: 2.5vw;
		border-radius: 100%;
	}

	menu .vk svg {
		position: relative;
		height: 3.079vh;
		width: 1.875vw;
		fill: var(--primary-inv);
	}

	.background {
		display: flex;
		gap: 4.688vw;
		border-radius: 0 0 3.906vw 3.906vw;
		padding: 7.212vh 2.422vw 12.74vh 0;
		flex-direction: row;
	}

	.banner-container {
		width: 100%;
		justify-content: space-between;
	}

	.pages {
		flex-direction: column;
		gap: 0.962vh;
		margin-top: 12.5vh;
		font-family: "Muller";
		text-transform: uppercase;
		font-size: var(--h3);
		color: var(--primary-inv);
		width: fit-content;
	}

	.pages div {
		gap: 0.313vw;
	}

	.pages div div {
		height: 3.846vh;
		width: 2.5vw;
	}

	.pages div img {
		width: 1.406vw;
		height: auto;
	}

	.pages a,
	.pages div:first-child {
		text-decoration: none;
		background-color: var(--accent);
		padding: 1.803vh 2.5vw;
		border-radius: 0 2.344vw 2.344vw 0;
		text-wrap: nowrap;
		width: fit-content;
	}

	.banner {
		width: fit-content;
		height: fit-content;
		position: relative;
	}

	.banner img {
		height: auto;
		border-radius: 3.906vw;
		width: 62.422vw;
	}

	.banner-text {
		position: absolute;
		left: 2.188vw;
		top: 33.654vh;
	}

	.banner-text h2 {
		font-size: var(--h3);
	}

	.ship {
		display: block;
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
	}

	.block {
		display: none;
	}

	/* footer */

	footer {
		margin: 6.01vh 2.5vw 7.212vh 2.5vw;
		grid-template-columns: 2fr 16.719vw 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		row-gap: 0;
	}

	footer .branding {
		grid-row: 1;
		grid-column: 1;
	}

	footer .name {
		font-size: 1.563vw;
	}

	.contacts {
		gap: 2.617vh;
		grid-row: 1;
		grid-column: 4;
	}

	.navigation {
		grid-column: 3;
		grid-row: span 2;
		width: 100%;
	}

	.links {
		gap: 3.125vw;
		flex-direction: row;
		grid-row: 2;
		grid-column: 1;
		width: 100%;
		height: 100%;
		align-items: end;
	}

	.links:first-child .linked:last-child span{
		content: "Группа города ВКонтакте";
	}

	.linked a {
		gap: 0.625vw;
	}

	.linked a svg {
		width: 1.406vw;
		padding: 0.234vw;
	}

	footer .linked a:last-child svg {
		width: 1.055vw;
		padding: 0.41vw;
	}

	#town-group {
		display: none;
	}

	#town-group-desc {
		display: block;
	}

	.madeby {
		grid-row: 2;
		grid-column: 4;
		width: 100%;
		height: 100%;
		justify-content: end;
	}

	/* menu for phones */

	#menu {
		display: none;
	}
}